/* Colors */
:root {
  --primary-color: #3b95b1;
  --secondary-color: #f45b69;
  --dark-color: #353535;
  --yellow: #f1d893;
  --green: #6cae75;
  --text-color: #464652;
  --white-smoke: #fbfbfb;
  --border-color: #ededed;
  --border-color-light: #f7f7f7;
  --left-bar-el-color: #fff;
  --sidebar-bg-color: #fff;
}

/* Font family */
:root {
  --font-family: "Inter", sans-serif;
  --font-size: 13px;
}

h1 {
  font-weight: 400;
  font-size: 29px;
}
h2 {
  color: var(--primary-color);
}

a {
  text-decoration: none;
  color: var(--text-color);
}
